@import "geometric_figures.css";
.Kuzco{
    --skin: rgb(255, 190, 111) ;
    --border-skin:rgb(218, 163, 96);
    --skin-shadow: rgba(214, 156, 117, 0.192);
    --hair: rgb(0,0,0);
    --line: rgba(80,0,0,0.15);
    --border-color: rgb(155, 94, 20);
    margin: 45%;
    width: 50%;
    padding: 10px;
}
.head{
    transform: translateY(-1500px) translateX(-140px) rotate(-20deg);
}
.hair{
    height: 750px;
    width: 390px;
    background-color: var(--hair);
    border-radius: 100%;
    border-bottom-left-radius: 0%30px;
    border-bottom-right-radius: 0%30px;
}
.border-face{
    background: var(--border-skin);
    border: solid 1px; 
    border-color: var(--border-skin);
    clip-path: path(evenodd,"M 424 170 A 1 1 0 0 0 115 170 c 10 33 9 73 -7 114 V 284 C 149 383 207 458 277 536 C 345 455 393 383 424 284 C 405 245 410 208 424 170");
    height: 536px;
    width: 423px;
}
.face{
    background: var(--skin);
    clip-path: path(evenodd,"M 424 170 A 1 1 0 0 0 115 170 c 10 33 9 73 -7 114 V 284 C 149 383 207 458 277 536 C 345 455 393 383 424 284 C 405 245 410 208 424 170");
    height: 536px;
    width: 423px;
    border: solid 1px;
    border-color: var(--border-skin);
    border-width: 10px 10px 10px 10px;
}
.border-face .face{
    transform: scale(0.994) translateY(-2px) translateX(-1px);
}
.eye-right{
    transform:translate(140px, 100px);
}
.eye-left{
    transform: translate(305px,70px);
}
.eye{
    width: 70px;
    height: 30px;
    background-color: white;
    border-radius: 100%;
    border-width: 10px 10px 10px 10px;
    border-radius: 0rem 0rem 3rem 3rem;
    background-color: black;
}
.eye .eye{
    background: white;
    transform: scale(0.99);
}
.eye .eye .eye{
    transform: scale(0.6) translateY(-8px);   
    background: black;
}
.pupil{
    width: 12px;
    height:12px;
    border-radius: 12rem 12rem 12rem 12rem;
    background: white;
    border-radius: 100%;
    transform: translateX(7px) translateY(10px);
}
.eyepil{
    width: 60px;
    height: 20px;
    border:solid 1px;
    border-color:var(--border-color) transparent transparent transparent;
    border-radius:  100%/20px 20px 0 0  ;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    transform: translateY(120px) translateX(130px) rotate(-50deg);
}
.eyepil + .eyepil{
    width: 70px;
    height: 20px;
    border:solid 1px;
    border-color:var(--border-color) transparent transparent transparent;
    border-radius: 100%/50px 50px 0 0px;
    transform: translateX(305px) translateY(110px) rotate(0deg);
}
.eyelash{
    width: 80px;
    height: 20px;
    border:solid 4px;
    border-color:black transparent transparent transparent;
    border-radius:  100%/20px 20px 0 0  ;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%; 
}
.eye .eyelash{
    transform: translateX(-9px) translateY(-32px);
}
.eyebrow-left{
    width: 120px;
    height: 30px;
    border: solid 20px;
    border-radius: 100%;
    border-bottom-right-radius: 100%;
    border-color: black transparent transparent transparent ;

}
.eyebrow-right{
    width: 100px;
    height:15px;
    background: black;
    border-bottom-left-radius: 30%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 100%;
    border-top-left-radius: 0%;
    transform: rotate(40deg);
}
.face > .eyebrow-left{
    transform: translateX(100px) translateY(150px) rotate(0deg);
}
.face > .eyebrow-right{
    transform: translateX(300px) translateY(80px) rotate(10deg);
}
.nose{
    transform: rotate(11deg) translate(30px, 20px);
}
.nose_large{
    width: 160px;
    height: 20px;
    border:solid 1px;
    border-color:var(--border-color) transparent transparent transparent;
    border-radius:  100%/20px 20px 0 0  ;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    transform: translateY(20px) translateX(140px) rotate(-90deg);
}
.nose_point{
    width: 50px;
    height: 15px;
    border:solid 2px;
    border-left: 0%;
    border-color:var(--border-color) var(--border-color) transparent transparent  ;
    border-bottom-right-radius: 100%;
    border-top-right-radius: 100%;
    transform: translateY(90px) translateX(200px) rotate(-170deg);
    border-radius:100%/1px;
}
.nose_point:first-child{
    transform: translateY(-80px);
}
.nose_point:last-child{
    border-color:var(--border-color) transparent transparent var(--border-color);
    transform: translateX(230px) translateY(60px) rotate(130deg);
}
.smile{
    width: 150px;
    height:30px;
    border-radius: 12rem 12rem 0 0;
    border: solid 1px;
    border-color: var(--border-color) transparent transparent transparent;
    transform: rotate(180deg) translateX(-185px) translateY(-100px);
}
.smile ~ .smile{
    width: 120px;
    height: 20px;
    border-color: var(--border-color) transparent transparent  transparent;
    transform: translateX(200px) translateY(110px)rotate(180deg);
}
.ear{
    width: 100px;
    height:110px;
    border: solid 0.0001px;
    border-radius: 0 70px;
    background-color: var(--skin);
    border-color: var(--border-skin);
}
.earring{
    width: 70px;
    height: 300px;
    background: #00d5ff;
    border: solid 0.001px;
    border-color: #0a7584;
    border-radius: 1000%;
}
.left-ear{
    transform: translateY(1000px) translateX(50px) ;
}
.left-ear .ear{
    transform:rotate(30deg)
}
.left-ear .earring{
    transform: rotate(10deg);
}
.right-ear{
    transform: translateY(600px) translateX(380px) ;
}
.right-ear .ear{
    transform:rotate(50deg)
}
.right-ear .earring{
    transform: rotate(20deg) translateX(-40px);
}
.fringe{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid black;
    border-bottom: 100px solid transparent;
    transform: translateY(-440px) translateX(180px) rotate(-10deg);
}
.fringe~.fringe{
    transform: translateY(-800px) translateX(130px) rotate(-10deg);
}
.fringe:last-child{
    width: 0;
    height: 0;
    border-left: 140px solid transparent;
    border-right: 140px solid black;
    border-bottom: 140px solid transparent;
    transform: translateY(-550px) translateX(150px) rotate(-10deg);
}
.crown{
    --crown:rgb(253, 230, 58);
    --bordercrown:rgb(204, 186, 48);
    transform: translateY(-2300px) translateX(63px) rotate(-20deg);
}
.crown_top{
    width: 700px;
    height:350px;
    border-radius: 100rem 100rem 0 0;
    background-color: rgb(253, 230, 58);
    border: solid 5px;
    border-color: var(--bordercrown) var(--bordercrown) transparent var(--bordercrown);
}
.crown_bottom{
    width:330px;
    height: 120px;
    border-radius: 1000%;
    background-color: rgb(253, 230, 58);
    border: solid 1px;
    border-color: var(--bordercrown) ;
}
.crown_bottom + .crown_top{
    transform: translateY(-400px) translateX(-180px);
}
.incline_50Kuzco{
    transform: rotate(-20deg);
}
.crown_line{
    width: 300px;
    height: 3px;
    background-color: var(--bordercrown);
}
.crown_line:nth-child(2){
    width: 195px;
    transform: translate(25px,80px) rotate(20deg);
}
.crown_line:nth-child(3){
    width: 195px;
    transform: translate(100px,-15px) rotate(50deg);
}
.crown_line:nth-child(4){
    width: 195px;
    transform: translate(270px,-65px) rotate(100deg);
}
.crown_line:nth-child(5){
    width: 195px;
    transform: translate(450px,40px) rotate(150deg);
}
.crown_line:nth-child(6){
    width: 190px;
    transform: translate(0px, 180px);
}
.crown_line:first-child{
    width:300px;
    height: 150px;
    border-radius: 100rem 100rem 0 0;
    background: var(--crown);
    border:solid 3px;
    border-color: var(--bordercrown) var(--bordercrown) transparent var(--bordercrown);
    transform: translate(190px, 195px);
}
.crown_line:last-child{
    width: 205px;
    background-color: var(--bordercrown);
    transform: translate(495px, 180px);
}