.skin-color{
    background-color: #ef9051;
    background: #ef9051;
}
.border-color{
    background-color: #ef9051;
}
.border-babyblue-darker{
    background: #00e1ff;
}
.yellow{
    background: rgb(247, 228, 103);
}