*.semicircle{
    width: 220px;
    height:130px;
    border-radius: 12rem 12rem 0 0;
    background-color: #ef9051;
    border-color: #ef9051;
}
.pseudo-semicircle{
    width: 270px;
    height:110px;
    border-radius: 12rem 12rem 0 0;
    background-color: #ef9051;
    border-color: #ef9051;
}
.line {
    border-bottom: 20px solid black;
    margin-top: 1px;
    width: 50%;  
    bottom: 100%;  
}
.rectangle{
    width: 132px;
    height: 55px;
    background-color: #ef9051;
}
.oval {
    width: 200px;
    height: 140px;
    background-color: #ef9051;
    border-radius: 100%;
  }
.box{
    width: 80px;
    height: 100px;
    background: black;
}

.height{
    height:200px;  
}
.long_oval{
    width: 100px;
    height: 25px;
    background: #00ffc8;
    border-radius: 1000%;
}
.trapezoid{
    width: 125px;
    height: 0px;
    border-right: 120px solid transparent;
    border-left: 40px solid transparent;
    border-bottom: 350px solid rgb(170, 20, 20);
}
.inclined_box{
    width: 70%; 
     height: 350px; 
     background: white;
     -webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(20deg);
}
.triangle {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 125px solid #ef9051;
}
div article{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: white;
}
.one_sided_round_rectangle{
    height: 700px;
    width: 450px;
    background-color: black;
    border-radius: 100%;
    border-bottom-left-radius: 0%30px;
    border-bottom-right-radius: 0%30px;
}
.one_sided_round_rectangle_long{
    height: 250px;
    width: 170px;
    background-color: black;
    border-radius: 100%;
    border-bottom-left-radius: 0%30px;
    border-bottom-right-radius: 0%30px;
}
.box_curves_horizontal{
    height: 400px;
    width: 200px;
    background-color: black;
    border-color: white 30px;
}
.cone{
    width: 0;
	height: 0;
    border-radius: 49%;
	border-left: 69px solid transparent;
	border-right: 69px solid transparent;
	border-top: 150px solid #ef9051;
}
.oval-leafish{
    width: 100px;
    height:110px;
    border-radius: 0 70px;
    background-color: black;
    border-color: black;
    border-width: 10px 10px 10px 10px;
}